# Configuration file. The push-default allows "git push" to go to origin-master.
# See this link+comments for some ideas: https://coderwall.com/p/euwpig/a-better-git-log
# Also this thread: https://stackoverflow.com/q/2421011/4970632
# The 'update' command can be used e.g. if have untracked changes on one branch, but
# want to git fetch and git merge changes to a different file.
# amend = !git commit --amend -m \"$@\"
[alias]
	update = !git stash clear; git stash; git merge $@; git stash pop
	graph = !git log --graph --abbrev-commit --date=relative --decorate --oneline --all $@
	twig = !git log --graph --abbrev-commit --date=relative --branches --name-status --oneline --decorate --color $@
	tree = !git log --graph --abbrev-commit --date=relative --branches --name-status --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' $@
	leaf = !git show-branch --topo-order $@
	wtf = !git-wtf $@
	dad = !curl https://icanhazdadjoke.com/ && echo && git add $@ # common typo
[push]
	default = upstream
[color]
	ui = on
