# Mark files as binary
# This extension list was just copied from .dircolors.ansi
# Image
*.bmp  binary
*.cgm  binary
*.dl   binary
*.emf  binary
*.gif  binary
*.jpeg binary
*.jpg  binary
*.JPG  binary
*.mng  binary
*.pbm  binary
*.pcx  binary
*.pgm  binary
*.png  binary
*.PNG  binary
*.ppm  binary
*.pps  binary
*.ppsx binary
*.svg  binary
*.svgz binary
*.tga  binary
*.tif  binary
*.tiff binary
*.xbm  binary
*.xcf  binary
*.xpm  binary
*.xwd  binary
*.xwd  binary
*.yuv  binary

*# Audio
*.aac  binary
*.au   binary
*.flac binary
*.m4a  binary
*.mid  binary
*.midi binary
*.mka  binary
*.mp3  binary
*.mpa  binary
*.mpeg binary
*.mpg  binary
*.ogg  binary
*.opus binary
*.ra   binary
*.wav  binary

# Video
*.anx  binary
*.asf  binary
*.avi  binary
*.axv  binary
*.flc  binary
*.fli  binary
*.flv  binary
*.gl   binary
*.m2v  binary
*.m4v  binary
*.mkv  binary
*.mov  binary
*.MOV  binary
*.mp4  binary
*.mp4v binary
*.mpeg binary
*.mpg  binary
*.nuv  binary
*.ogm  binary
*.ogv  binary
*.ogx  binary
*.qt   binary
*.rm   binary
*.rmvb binary
*.swf  binary
*.vob  binary
*.webm binary
*.wmv  binary
