#------------------------------------------------------------------------------;
# Configuration file. The push-default allows "git push" to go to origin-master.
# See this link+comments for some ideas: https://coderwall.com/p/euwpig/a-better-git-log
# For escaping stuff see: https://stackoverflow.com/a/16136745/4970632
# and note semicolons must always be escaped.
# Also this thread: https://stackoverflow.com/q/2421011/4970632
#------------------------------------------------------------------------------;
# PROTIPS (add to this)
# * To rename branch use git branch -m <old_name> <new_name>
# * To rename local and remote see: https://stackoverflow.com/q/8762601/4970632
#------------------------------------------------------------------------------;
# NOTE that some older versions of git won't accept the flags below the [status],
# [branch], et cetera blocks below. In that case, use the alternately named aliases
# defined above.
#------------------------------------------------------------------------------;
# TODO:
# 'truncate':
#   see: https://gist.github.com/magnetikonline/5062718
#   also see: https://passingcuriosity.com/2017/truncating-git-history/
#   use this to trncate at given SHA
# 'delete':
#   for more information see the script; can be passed a filename or a regular
#   expresion e.g. '*.mov'
# 'giant':
#   when you commit giant files (i.e. over 100MB), even after you delete them,
#   you won't be able to push to Github because they were tracked and are found
#   in .vim. use this to delete file/directory throughout history. from:
#   https://stackoverflow.com/a/23657759/4970632
# 'opts':
#   fails not just as git alias, but when calling the regex manually
#   see: https://stackoverflow.com/a/52846422/4970632
#   "!f(){ echo ${1}; echo /usr/local/share/doc/git-doc/git-${1}.txt; cat /usr/local/share/doc/git-doc/git-${1}.txt | ggrep --initial-tab --recursive \
#   --binary-files=without-match --no-filename --only-matching --perl-regexp \
#   --null-data --regexp='(?ms)(?:^[a-z][a-zA-Z]+\\.[<>()*.a-zA-Z]+::\\v+)+?(?:(?:\\v|\\h+\\V+\\v))+(?:\\v|\\Z)'; }; f"
#------------------------------------------------------------------------------;
# New commands:
# 'amend':
#   change the name of arbitrary commit messages; just provide a SHA1 reference
#   see: https://blog.filippo.io/git-fixup-amending-an-older-commit/
# 'deleted':
#   see: https://stackoverflow.com/a/18197405/4970632
#   lists files that were deleted in git history, but were never re-created
#   or added back in
# 'pack':
#   see the git-pack command for more details
# 'wtf':
#   calls the git-wtf command copied from somewhere; it actually queries the
#   remote server to test whether we are synced
#   also prints current branch and remote branch, with extra info
# 'update':
#   use e.g. if have untracked changes on one branch, but
#   want to git fetch and git merge changes to a different file.
# 'get':
#   fetch all branches, even ones that don't yet exist on
#   local (normally those are ignored with git fetch --all); see
#   https://stackoverflow.com/a/10312587/4970632
# 'ignore':
#   stop tracking every single regex pattern in your .gitignore
#   to ignore all subdirectories in another directory, use subdir/*/
#   the find command must be different in this case; mindepth of 1 excludes
#   the root directory (i.e. the subfolder itself), and maxdepth prevents any
#   unnecessary recursion
# 'status':
#   now show in short format, without help information, and with branch info
# 'fix':
#   fix user/email information through every commit in repository
# 'tree': = "!git log --graph --abbrev-commit --date=relative --branches --name-status \
#   --oneline --decorate --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) \
#   %C(bold blue)<%an>%Creset' $@ 2>/dev/null"
#------------------------------------------------------------------------------;
[alias]
	short    = !git status --short --branch $@
	remotes  = !git remote --verbose $@
	info     = !git branch -vv --all $@
	stat     = !git diff --stat $@
	wtf      = !git-wtf $@
	fix      = !git-fix $@
	vim      = !git-vim $@
	shrink   = !git-shrink $@
	shrink   = !git-truncate $@
	root     = !git rev-parse --show-toplevel
	objects  = !git count-objects -H -v
	delete   = !git-delete $@
	amend    = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
	deleted  = "!current=($(git ls-files)); tracked=($(git log --all --pretty=format: --name-only --diff-filter=D | xargs)); \
		deleted=(); resurrected=(); for file in \"${tracked[@]}\"; do if [[ \" ${current[@]} \" =~ \" $file \" ]]; then resurrected+=(\"$file\"); else deleted+=(\"$file\"); fi; done; \
		echo \"${deleted[@]}\" | tr \" \" \"\\n\""
		# echo \"Deleted: ${deleted[@]}\"; echo \"Resurrected: ${resurrected[@]}\""
	file     = "!git log -p -- $@"
	commands = "!git help -a | grep \"^  [a-z]\" | tr ' ' '\\n' | grep -v \"^$\" | sort"
	update   = "!git stash clear; git stash; git merge $@; git stash pop"
	tree = "!git log --graph --abbrev-commit --date=relative --branches --name-status \
		--oneline --decorate --color $@ 2>/dev/null"
	twig = "!git log --graph --abbrev-commit --date=relative --branches --oneline \
		--decorate --color $@ 2>/dev/null"
	get  = "!git branch -r | grep -v '\\->' | while read remote; do \
		if ! git branch -l | grep \"${remote#origin/}\" &>/dev/null; \
		then git branch --track \"${remote#origin/}\" \"$remote\"; \
		else echo \"${remote#origin/}\" exists; \
		fi; done"
	ignore = "!root=$(git rev-parse --show-toplevel); if [ -n \"$root\" ]; \
		then cat $root/.gitignore | grep -v '#' | grep -v '^\\s*$' | sed 's/\\*\\*\\///g' | while read pattern; \
		do echo \"$pattern\"; \
		if [[ \"$pattern\" =~ \"/*/\" ]]; then \
		find \"$root/${pattern%/*/}\" -mindepth 1 -maxdepth 1 -type d -print0 | xargs -0 git rm -r --cached --ignore-unmatch -- 2>/dev/null; \
		else find \"$root\" -name \"$pattern\" -print0 | xargs -0 git rm -r --cached --ignore-unmatch -- 2>/dev/null; \
		fi; done; fi"
[status]
	branch = true
	short = true
[remote]
	verbose = true
[color]
	ui = on
[push]
	default = upstream
[user]
	name = Luke Davis
	email = lukelbd@gmail.com
[core]
	mergeoptions = --no-edit
	attributesfile = ~/.gitattributes
[filter "nbstripout"]
	clean = nbstripout
	smudge = cat
	required = true
[diff "ipynb"]
	textconv = nbstripout -t
