# Misc stuff
empty*
root/
!root/README*
*.log
tags
!.vim/doc/tags
.vim/plugged
.vim/black
.DS_Store
.nfs*
tmp

# Vim extras, binary spell files
.vimsession
.*.sw[a-z]
*.spl

# Storage and trash
trash
originals
__pycache__

# Jupyter
# MUST ignore json because it encodes a hardpath for particular anaconda
# distributions (not relative path) which messes up the jupyterthemes font
# The other json, jupyter_notebook_config.json, just tells jupyter to use
# nbextensions. Also ignore custom so jupyterthemes can control it
.jupyter/jupyter_nbconvert_config.json
.jupyter/custom
.ipython/profile_default

