# Misc stuff
.proplot/cmaps
.vim/plugged
.vim/black
empty*
test*
*.log
*.bib
.DS_Store
.nfs*
syntax
tags
tmp

# Vim extras, binary spell files
.vimsession
.*.sw[a-z]
*.spl

# Storage and trash
trash
backup
__pycache__

# Jupyter and ipython
# We are explicit here to avoid copying history
# Do not copy current theme stored in apputils-extensions
.jupyter/*
.ipython/*
!nbconfig/*
!hidecode.tplx
!shortcuts.jupyterlab-settings
!jupyter_config.json
!jupyter_console_config.py
!jupyter_qtconsole_config.py
!jupyter_notebook_config.py
!jupyter_nbconvert_config.py
!jupyter_notebook_config.json
!ipython_config.py
!ipython_kernel_config.py
