# Misc stuff
empty*
test*
*.log
*.bib
.DS_Store
.nfs*
tmp*
backup/
cmaps/
trash/
__pycache__/

# Vim stuff
tags
.vimtags*
.vimsession*
.netrwhist
.*.sw[a-z]
*.spl
black/
plugged/
servers/

# Ipython and jupyter
# Do not copy ipython profile history and internal directories
.jupyter/*
.ipython/*
!nbconfig
!jupyter_config.json
!jupyter_notebook_config.json
!jupyter_nbconvert_config.json
!jupyter_server_config.json
!jupyter_console_config.py
!jupyter_qtconsole_config.py
!jupyter_notebook_config.py
!jupyter_nbconvert_config.py
!jupyter_server_config.py
!ipython_config.py
!ipython_kernel_config.py

# Jupyter lab
# Do not copy jupyter lab workspace logs or interface/toolbar settings
# Note from application-extension and below are jupyterlab 4.0+ only
# See: https://stackoverflow.com/q/65776556/4970632
!lab
!user-settings
application-extension
apputils-extension
cell-toolbar-extension
csvviewer-extension
extensionmanager-extension
filebrowser-extension
htmlviewer-extension
notebook-extension
statusbar-extension
workspaces
