#-----------------------------------------------------------------------------#
# Terminal and ipython input configuration
# Note these must be in .inputrc to work with ipython (not .bashrc)
# Use nr2char(printf('%d', '0xN')) to convert iterm hex to characters, or
# use printf('0x%02x', char2nr("\<C-x>")) to convert characters to iterm hex.
# See: https://stackoverflow.com/a/12191699/4970632
#-----------------------------------------------------------------------------#
# Terminal settings
# Command line mode vi or emacs
set editing-mode emacs
# Insert mode as line cursor
set vi-ins-mode-string "\1\e[6 q\2"
# Normal mode as block cursor
set vi-cmd-mode-string "\1\e[2 q\2"
# Key sequence timeout: https://unix.stackexchange.com/a/318497/112647
set keyseq-timeout 50
# Exclude mode from prompt
set show-mode-in-prompt off
# Disable completion (use fzf instead)
set disable-completion off
# Enable ignorecase 
set completion-ignore-case on
# Treat hyphens and undescores the same
set completion-map-case on
# Use one tab press for fzf: https://unix.stackexchange.com/a/76625/112647
set show-all-if-ambiguous on
# Show string typed so far as member while cycling through completion options
set menu-complete-display-prefix on
# Easier to read
set completion-display-width 1
# Only let readlinke/shell do visual bell; use none to disable totally
set bell-style visible
# If there is text to right of cursor, make bash ignore it; only bash 4.0 readline
set skip-completed-text on
# Extra information, e.g. whether something is executable with *
set visible-stats off
# No more --more-- pager when list too big
set page-completions off
# Never ask for user confirmation if theres too much stuff
set completion-query-items 0
# Add trailing slash to directory symlink
set mark-symlinked-directories on

# Key bindings (see bashrc)
# Complete with fzf fuzzy file search
"\C-f": "\C-b\C-k \C-u`__fzf_cd__`\e\C-e\er\C-m\C-y\C-h\e \C-y\ey\C-x\C-x\C-d"
# Complete backward without changing scroll history
"\e[Z": menu-complete-backward
# Complete forward without changing scroll history
"\C-i": menu-complete
# Tab-like complete backward with F1 = ctrl-, (see .vimrc)
"\eOP": menu-complete-backward
# Tab-like complete forward with F2 = ctrl-. (see .vimrc)
"\eOQ": menu-complete
# <Home> key from sed -n l <Ctrl-Left> i.e. 0x1b 0x5b 0x48
"\e[H": beginning-of-line
# <End> key from sed -n l <Ctrl-Right> i.e. 0x1b 0x5b 0x46
"\e[F": end-of-line
# <Shift-Up> key from sed -n l <Shift-Up>
"\e[1;2A": backward-kill-word
# <Shift-Down> key from sed -n -l <Shift-Down>
"\e[1;2B": kill-word
# <Shift-Right> key from sed -n -l <Shift-Right>
"\e[1;2C": kill-line
# <Shift-Left> key from sed -n l <Shift-Left>
"\e[1;2D": unix-line-discard
# <Alt-Up> key from sed -n l <Alt-Up>
"\e[1;3A": beginning-of-line
# <Alt-Down> key from sed -n -l <Alt-Down>
"\e[1;3B": end-of-line
# <Alt-Right> key from sed -n -l <Alt-Right>
"\e[1;3C": forward-word
# <Alt-Left> key from sed -n l <Alt-Left>
"\e[1;3D": backward-word
# <Ctrl-Up> key from sed -n l <Ctrl-Up>
"\e[1;5A": beginning-of-line
# <Ctrl-Down> key from sed -n -l <Ctrl-Down>
"\e[1;5B": end-of-line
# <Ctrl-Right> key from sed -n -l <Ctrl-Right>
"\e[1;5C": end-of-line
# <Ctrl-Left> key from sed -n l <Ctrl-Left>
"\e[1;5D": beginning-of-line
